CentOS.org rsync service ({{ inventory_hostname }})
------------------------------------------------------------

This service is intended for the sole use of the CentOS worldwide mirror network
to synchronize mirrors.

Unless you are running or intending to run a listed public CentOS mirror
use a mirror listed at https://centos.org/download/mirrors

If you intend to populate a mirror for public use please read the
notes at https://wiki.centos.org/HowTos/CreatePublicMirrors

If you do use this service then it is implied that you are providing a
mirror for public use and giving us authority to publicise such mirror.

